<app-header></app-header>

<div class="landing-page-container container-fluid">
  <div class="row clearfix">
    <div class="p-5 col-7 d-flex justify-content-center flex-grow-1">
      <div class="hero-container d-flex align-items-center">
        <div class="hero d-flex flex-column">
          <div class="d-flex d-lg-block">
            <div class="headline flex-grow-1 flex-lg-grow-0 text-center text-lg-start">Get Your Ontario Security License
              & Start Working Now
            </div>
          </div>
          <h1>
            <span class="red">Ministry approved</span>
            <br/>
            Security Guard & CPR Training
          </h1>
          <div class="d-flex d-lg-block">
            <a routerLink="start" class="btn btn-action mt-5 flex-grow-1 flex-lg-grow-0">Get Started</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-5 d-none d-sm-flex p-0 testimonial-wrapper">
      <div class="testimonial-container">
        <div class="testimonial-panel">
          <div class="testimonial-bg d-flex flex-column">
            <div class="testimonial-header">
              "They got me licensed and got me a job!"
            </div>
            <div class="testimonial-footer d-flex justify-content-between">
              <div class="testimonial-footer-signature">
                Ajay, 34
              </div>
              <div class="testimonial-footer-location">
                Toronto, Ontario
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
