.landing-page, .landing-page-container {
  background-color: #E5E5E5;
}

.hero-container {
  max-width: 660px;
  width: 100%;
  height: 100%;
}

.hero {
  font-family: 'Manrope', sans-serif;
}

.headline {
  display: inline-block;
  background-color: #FFF;
  color: #354FA9;
  font-family: 'Roboto', sans-serif;
  padding: 15px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 12px #31374D;
  margin-bottom: 22px;
}

.hero h1 {
  font-size: 72px;
  color: #31374D;
}

.red {
  color: #D03D1C;
}

.btn-action {
  background-color: #354FA9;
  color: #F3F4FA;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 24px 76px;
}

.btn-action:hover {
  background-color: rgba(53, 79, 169, 0.9);
  color: #F3F4FA !important;

}

@media (max-width: 1581px) {
  .testimonial-container {
    display: none;
  }
}

.testimonial-container {
  width: 826px;
  height: 988px;
  background-image: url(/assets/testimonial-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.testimonial-panel {
  border-radius: 0 10px 10px 0;
  width: 390px;
  height: 200px;
  position: relative;
  top: 650px;

  color: #31374D;
}

.testimonial-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(243, 244, 250, 0.4);
  backdrop-filter: blur(30px);
  border-radius: 0 10px 10px 0;
}

.testimonial-header {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
}

.testimonial-footer-signature {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;

}

.testimonial-footer-location {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}
