<div class="rounded-bg-container blue">
  <div class="row d-flex align-items-center">
    <div class="col-5">
      <img alt="Money Back Guarantee" src="/assets/v4/money-back.png"/>
    </div>
    <div class="col-7 d-flex flex-column">
      <div class="header">100% Money Back Guarantee</div>
      <div class="description">If you can’t pass the Ministry exam & get licensed, we will refund you your money.</div>

      <a class="btn btn-action mt-3" (click)="goToSignUp()">
        Purchase Online Security Guard Course <br />
        And Get A Refund if You Can’t Pass
      </a>
    </div>
  </div>
</div>
