<div class="row">
  <div class="col-12 text-center">
    <h1 class="header">How To Get Your Security Guard License </h1>
    <h2 class="subheader">We Guide You Every Step Of the Way</h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 text-center">
    <img class="img-fluid d-none d-md-block" alt="Process" src="/assets/v4/licensing-process.png"/>
    <img class="img-fluid d-block d-md-none" alt="Process" src="/assets/v4/licensing-process-small.png"/>
  </div>
</div>
<div class="row description-container">
  <div class="col-10 offset-1 text-center description">
    Our live instructors will be available anytime you need them through a <span class="strong">direct line.</span><br/>
    They can <span class="strong">clarify any concepts</span>, help you <span
    class="strong">fill out all the forms</span> and
    provide <span class="strong">personalized support</span> to you no matter which part of the Security Guard journey
    you’re at - <span class="strong">we’re here for
    you.</span>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <a class="btn btn-action" (click)="goToSignUp()">
      Purchase Ontario’s Most Popular Online
      Security Guard License Training Course for Only 199.99
    </a>
  </div>
</div>
