<div class="row">
  <div class="col-12 text-center">
    <div class="header"><span class="strong">Online & Mobile Friendly</span> Security Guard Training + CPR $199.99</div>
  </div>
</div>

<div class="rounded-bg-container gray">
  <div class="row d-flex">
    <div class="col-12 col-md-6">
      <div class="rounded-bg-container white">
        <div class="row">
          <div class="course-logo col-12 d-flex align-items-center justify-content-center">
            <img alt="Course logo" class="img-fluid" src="/assets/course-1-icon-alt.png"/>
          </div>
        </div>

        <div class="features">
          <div class="feature-item d-flex">
            <div class="feature-item-icon">
              <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4 7L9 12M3 13L9 7L11 4M1 4H13M6 1H7M11.913 16H19.087M11.913 16L10 20M11.913 16L14.7783 10.009C15.0092 9.52627 15.1246 9.2849 15.2826 9.20862C15.4199 9.14228 15.5801 9.14228 15.7174 9.20862C15.8754 9.2849 15.9908 9.52627 16.2217 10.009L19.087 16M19.087 16L21 20"
                  stroke="#31374D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="feature-item-name">
              Languages
            </div>
            <div class="feature-item-value">
              English, Punjabi, Hindi, Farsi
            </div>
          </div>
          <div class="feature-item d-flex">
            <div class="feature-item-icon">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.5 6.96533C7.5 6.48805 7.5 6.24941 7.59974 6.11618C7.68666 6.00007 7.81971 5.92744 7.96438 5.9171C8.13038 5.90525 8.33112 6.03429 8.73261 6.29239L13.4532 9.32706C13.8016 9.55102 13.9758 9.663 14.0359 9.80539C14.0885 9.9298 14.0885 10.0702 14.0359 10.1946C13.9758 10.337 13.8016 10.449 13.4532 10.6729L8.73261 13.7076C8.33112 13.9657 8.13038 14.0948 7.96438 14.0829C7.81971 14.0726 7.68666 13.9999 7.59974 13.8838C7.5 13.7506 7.5 13.512 7.5 13.0347V6.96533Z"
                  stroke="#31374D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M1 5.8C1 4.11984 1 3.27976 1.32698 2.63803C1.6146 2.07354 2.07354 1.6146 2.63803 1.32698C3.27976 1 4.11984 1 5.8 1H14.2C15.8802 1 16.7202 1 17.362 1.32698C17.9265 1.6146 18.3854 2.07354 18.673 2.63803C19 3.27976 19 4.11984 19 5.8V14.2C19 15.8802 19 16.7202 18.673 17.362C18.3854 17.9265 17.9265 18.3854 17.362 18.673C16.7202 19 15.8802 19 14.2 19H5.8C4.11984 19 3.27976 19 2.63803 18.673C2.07354 18.3854 1.6146 17.9265 1.32698 17.362C1 16.7202 1 15.8802 1 14.2V5.8Z"
                  stroke="#31374D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="feature-item-name">
              Videos
            </div>
            <div class="feature-item-value">
              12
            </div>
          </div>
          <div class="feature-item d-flex">
            <div class="feature-item-icon">
              <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19 2.5L8 2.5M19 16.5L8 16.5M19 9.5L8 9.5M4 2.5C4 3.32843 3.32843 4 2.5 4C1.67157 4 1 3.32843 1 2.5C1 1.67157 1.67157 1 2.5 1C3.32843 1 4 1.67157 4 2.5ZM4 16.5C4 17.3284 3.32843 18 2.5 18C1.67157 18 1 17.3284 1 16.5C1 15.6716 1.67157 15 2.5 15C3.32843 15 4 15.6716 4 16.5ZM4 9.5C4 10.3284 3.32843 11 2.5 11C1.67157 11 1 10.3284 1 9.5C1 8.67157 1.67157 8 2.5 8C3.32843 8 4 8.67157 4 9.5Z"
                  stroke="#31374D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="feature-item-name">
              Quizzes
            </div>
            <div class="feature-item-value">
              12
            </div>
          </div>
        </div>
        <div class="jobs">
          <div class="jobs-header">Jobs you can get with this training:</div>
          <div class="row">
            <div *ngFor="let job of jobs" class="col-12 col-md-6">
              <div class="job-item d-flex align-items-center">
                <div class="job-item-icon">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#E6E8F1"/>
                    <path d="M7 12.8462L10.0769 15.9231L17 9" stroke="#31374D" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                  </svg>
                </div>
                <div class="job-item-name">{{ job }}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="main-header">
        Learn the laws, regulations and best practices of the Security Guard Industry - all at
        your own pace!</h2>

      <div class="languages-list d-flex justify-content-center justify-content-md-start">
        <div class="languages-list-item">
          Hindi
        </div>
        <div class="languages-list-item">
          Punjabi
        </div>
        <div class="languages-list-item">
          English
        </div>
      </div>

      <div class="modules-list">
        <div *ngFor="let module of modules" class="module-item d-flex justify-content-start flex-column">
          <div class="module-item-main d-flex" (click)="toggleModule(module)">
            <div
              class="module-item-number d-flex align-items-center justify-content-center flex-shrink-0">{{ module.moduleNumber | number:'2.0' }}</div>
            <div class="module-item-name">{{ module.name }}</div>
            <div class="module-item-show-toggle">
              <svg *ngIf="!module.selected" width="16" height="16" viewBox="0 0 16 16" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M2 8H14" stroke="#A1A3BE" stroke-width="3" stroke-linecap="round"/>
                <path d="M8 2L8 14" stroke="#A1A3BE" stroke-width="3" stroke-linecap="round"/>
              </svg>
              <svg *ngIf="module.selected" width="16" height="4" viewBox="0 0 16 4" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H14" stroke="#A1A3BE" stroke-width="3" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
          <div *ngIf="module.selected" class="module-item-description">
            {{ module.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mt-md-0">
    <div class="col-12 description text-center">
      <p>After purchase, you will get <span class="strong">Immediate Access</span> and will enjoy the <span
        class="strong">Go-At-Your-Own-Pace</span> format of it.</p>

      <p>You will benefit from <span class="strong">24/7 Access</span> to the course and you can work through it under
        <span class="strong">zero pressure</span> at <span class="strong">your own convenience and availability</span> -
        the whole thing can even be done from your phone.</p>

      <p>Once you complete it, you will immediately be issued a Training Completion Number (TCN) that will allow
        you to go onto the Ministry site and book the exam.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <a class="btn btn-action mt-3" (click)="goToSignUp()">
        Purchase ${{ currentCourse.price }} Course <br>
        & Get Access in Less Than 3 Mins
      </a>
      <div class="form-check course-selection-checkbox d-flex align-items-center justify-content-center">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
               (change)="changeCourseType($event)">
        <label class="form-check-label" for="flexCheckChecked">
          I already have a valid CPR certificate
        </label>
      </div>
    </div>
  </div>
</div>
