<div dir="auto" class="course-content row">
  <div class="col-12" [innerHTML]="lecture?.content">
  </div>
</div>
<app-navigation
  [currentLecture]="lecture || null"
  [previousLecture]="lecture?.previousLecture || null"
  [previousQuiz]="lecture?.previousQuiz || null"
  [nextLecture]="lecture?.nextLecture || null"
  [nextQuiz]="lecture?.nextQuiz || null"
  [lectureIds]="lecture?.module?.lectureIds || []"
  [currentLectureId]="lecture?.id || null">

</app-navigation>
<div *ngIf="false && lecture?.module?.hasQuiz"
     (click)="goToQuiz()"
     class="course-navigation-quiz d-flex justify-content-center justify-content-md-end mt-3">
  <a class="btn btn-quiz">Take Quiz</a>
</div>
