
h2.sections-list-header {
  margin-top: 40px;
  margin-bottom: 25px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #31374D;
}

.section-selector {

  .list-group-item {
    padding: 12px 17px;

    min-height: 48px;
    background: #FFFFFF;

    border: 0;
    border-radius: 4px;

    margin-top: 8px;
    cursor: pointer;

    .section-header-checkmark {
      svg {
        visibility: hidden;
      }
    }


    .section-header {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;

      color: #31374D;

      .section-header-count {
        margin-right: 13px;
      }
    }

    .section-title {
      margin-top: 12px;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #31374D;
    }


    &.completed {
      background: #E8EAF6;

      .section-header {
        color: #ACADBF;
      }

      .section-title {
        color: #ACADBF;
      }

      .section-header-checkmark {
        svg {
          visibility: inherit;
        }
      }

    }

    &.active {
      background: #354FA9;
      margin-top: 8px;


      .section-header {
        color: #FFFFFF;
      }

      .section-title {
        color: #FFFFFF;
      }
    }

  }
}
