.course-counter {
  background: #36B251;
  padding: 12px 27px;

  border-radius: 4px;

  .course-counter-time {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

    color: #FFFFFF;
  }

  .course-counter-title {

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;

    color: #FFFFFF;
  }

}
