<div class="container p-5">
  <div class="row">
    <div class="card-container full-height col-12">
      <div class="p-5">
        <h1 class="section-title">List of available courses</h1>
        <div class="course-selection row g-5">
          <div *ngFor="let course of courses" class="col-12 col-xl-6">
            <app-course-card [course]="course" (courseClicked)="onCourseSelected($event)"></app-course-card>
          </div>
        </div>
        <ng-container *ngIf="selectedCourse !== null">
          <div class="course-details-header row align-items-center">
            <div class="col-12 col-xl-4">
              <div class="d-flex flex-column justify-content-center">
                <div class="course-content">{{ selectedCourse.modules.length }} modules</div>
                <div class="course-title">{{ selectedCourse.name }}</div>
              </div>
            </div>
            <div class="col-12 col-xl-3 py-3 py-xl-0">
              <app-language-select
                [languages]="selectedCourseLanguages" [currentLanguage]="language"
                (languageChanged)="onLanguageChanged($event)"></app-language-select>
            </div>
            <div class="col-12 col-xl-5 py-3 py-xl-0">
              <div class="d-flex justify-content-xl-end justify-content-between">
                <div
                  class="course-price-container d-flex flex-column justify-content-around justify-content-xl-center align-items-start align-items-xl-end">
                  <div class="course-price">${{ selectedCourse.price}}</div>
                  <div class="course-price-description">Course price</div>
                </div>
                <a (click)="onCourseAction(selectedCourse)" class="btn btn-purchase">Purchase course</a>
              </div>
            </div>
          </div>
          <hr class="spacer">
          <div class="course-details-content row">
            <div class="col-12 col-xl-6">
              <div class="course-details-description" dir="auto" [innerHTML]="selectedCourse.description">
              </div>
            </div>
            <div class="col-12 col-xl-6">
              <div class="course-details-image py-3 py-xl-0">
                <img alt="Course image" class="img-fluid" src="{{ selectedCourse.imageBig }}">
              </div>
              <app-modules-listing [course]="selectedCourse"></app-modules-listing>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
