@import "node_modules/bootstrap/scss/bootstrap-utilities";

.offer {
  margin-top: 10px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #595E71;

  span.strong {
    color: #354FA9;
    margin-right: 3px;
  }

  svg {
    margin-right: 6px;
  }
}

.spinner-grow {
  width: 22px;
  height: 22px;
  color: #354FA9;
}
