
h2.course-learning-modules-header {
  margin-top: 40px;
  margin-bottom: 25px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #31374D;

}

.module-selector {

  .list-group-item {
    padding: 12px 17px;

    min-height: 48px;
    background: #FFFFFF;

    border: 0;
    border-radius: 4px;

    margin-top: 20px;
    cursor: pointer;

    .module-header-checkmark {
      svg {
        visibility: hidden;
      }
    }

    .module-header-lock {
      svg {
        visibility: hidden;
      }
    }

    .module-header {
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;

      color: #31374D;
    }

    .module-title {
      margin-top: 12px;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #31374D;
    }

    &.disabled {
      background: #E8EAF6;

      .module-header {
        color: #ACADBF;
      }

      .module-title {
        color: #ACADBF;
      }
    }


    &.locked {
      cursor: default;
      background: #E8EAF6;

      .module-header {
        color: #ACADBF;
      }

      .module-title {
        color: #ACADBF;
      }

      .module-header-lock {
        position: relative;
        top: -26px;
        right: -98px;

        &.close {
          top: -22px;
          right: -26px;
        }

        svg {
          visibility: inherit;
        }
      }

    }

    &.completed {
      .module-header-checkmark {
        svg {
          visibility: inherit;
        }
      }

    }

    &.active {
      background: #354FA9;

      .module-header {
        color: #FFFFFF;
      }

      .module-title {
        color: #FFFFFF;
      }
    }
  }
}

.next-steps-container {
  margin-bottom: 50px;

  .subtext {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #31374D;
    padding: 15px;
  }
}
