@import "node_modules/bootstrap/scss/bootstrap-utilities";

.cpr-form {
  margin-top: 74px;
}

.file-upload-container {
  border: 1px dashed #ACADBF;
  border-radius: 4px;
}

.file-upload-inner {
  padding: 18px 16px;
}

.file-upload-filename {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  color: #31374D;

  @include media-breakpoint-up(md) {
      margin-left: 37px;
  }
}

.btn-submit {
  &.btn-small {
    padding: 14px 42px !important;
  }
}

// can be extracted to a separate component later

.calendar-input {
  border-right: 0 !important;
}

.calendar-input-button {
  border: 1px solid #DBDCE7;
  border-left: 0 !important;

  &:hover {
    // override default bootstrap hover styling

    border: 1px solid #DBDCE7 !important;
    border-left: 0 !important;
  }
}

.invalid-feedback {
  display: block;
}
