.course-details-header {
  margin-top: 80px;

  .course-title {
    padding-top: 5px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;


    color: #31374D;

  }

  .course-content {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

    color: #5E6169;

  }

  .course-price-container {

    .course-price {

      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;

      color: #31374D;
    }

    .course-price-description {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 32px;

      text-align: right;

      color: #5E6169;


    }
  }

  .btn-purchase {
    padding: 18px 42px;

    background: #31374D;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    margin-left: 36px;

  }

}

.course-details-content {
  margin-top: 32px;

  .course-details-description {

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #31374D;

  }

  .course-details-image {

  }
}
