<ng-container *ngIf="!moduleQuiz && quiz; else questions">
  <div *ngIf="quiz.module.video" class="course-content row mb-5">
    <div class="col-12 text-center">
      <video width="100%" controls>
        <source src="{{ quiz.module.video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="course-content row">
    <div class="col-12">
      <p>This quiz consists of <strong>{{ quiz.questionsNumber}}</strong> questions.</p>
    </div>
  </div>
  <ng-container *ngIf="quiz.result">
    <div class="quiz-grade">
      <div *ngIf="!quiz.result.passed" class="card border-danger text-danger">
        <div class="card-body">
          You've <strong>failed</strong> the quiz. Your result is {{ quiz.result.resultPercent}}% (the requirement
          is {{ quiz.result.requiredPercent }}%).
        </div>
      </div>
      <div *ngIf="quiz.result.passed" class="card border-success text-success">
        <div class="card-body">
          You've <strong>passed</strong> the quiz. Your result is {{ quiz.result.resultPercent}}% (the requirement
          is {{ quiz.result.requiredPercent }}%).
        </div>
      </div>
    </div>
  </ng-container>

  <div class="course-navigation-quiz d-flex justify-content-center justify-content-md-end mt-3">
    <a class="btn btn-quiz" (click)="startQuiz()">
      <span *ngIf="quiz.result;">Retake quiz</span>
      <span *ngIf="!quiz.result;">Take quiz</span>
    </a>
  </div>

  <app-navigation
    [previousLecture]="quiz.previousLecture || null"
    [nextLecture]="quiz.nextLecture || null"
  ></app-navigation>
</ng-container>

<ng-template #questions>
  <div class="course-content row">
    <div class="col-12">
      <ng-container *ngFor="let question of moduleQuiz?.questions">
        <app-quiz-question [question]="question" (optionChange)="onOptionChange($event)"></app-quiz-question>
      </ng-container>
    </div>
  </div>
  <div class="course-navigation-quiz d-flex justify-content-center justify-content-md-end mt-3">
    <a (click)="submitQuiz()" class="btn btn-quiz">Submit Quiz</a>
  </div>
</ng-template>
