<div class="course-content row">
  <div class="col-12">
    <p>This quiz consists of <strong>{{ quiz?.questionsNumber}}</strong> questions.</p>
  </div>
</div>
<div class="quiz-grade">
  <div class="card border-danger text-danger">
    <div class="card-body">
      You've <strong>failed</strong> the quiz. Your result is 70% (the requirement is 80%).
    </div>
  </div>
</div>
<div class="quiz-grade mt-3">
  <div class="card border-success text-success">
    <div class="card-body">
      You've <strong>passed</strong> the quiz. Your result is 90% (the requirement is 80%).
    </div>
  </div>
</div>
<div class="course-navigation-quiz d-flex justify-content-center justify-content-md-end mt-3">
  <a class="btn btn-quiz">Start Quiz</a>
</div>
<app-navigation
[previousLecture]="quiz?.previousLecture || null"
[nextLecture]="quiz?.nextLecture || null"
></app-navigation>
