<div class="course-content row">
  <div class="col-12">
    <p>This quiz consists of <strong>6</strong> questions.</p>
  </div>
</div>
<div class="quiz-grade">
  <div class="card border-danger text-danger">
    <div class="card-body">
      You've <strong>failed</strong> the quiz. Your result is 70% (the requirement is 80%).
    </div>
  </div>
</div>
<div class="quiz-grade mt-3">
  <div class="card border-success text-success">
    <div class="card-body">
      You've <strong>passed</strong> the quiz. Your result is 90% (the requirement is 80%).
    </div>
  </div>
</div>
<div class="course-navigation-quiz d-flex justify-content-center justify-content-md-end mt-3">
  <a class="btn btn-quiz">Start Quiz</a>
</div>
<div class="course-navigation d-flex flex-row flex-column flex-md-row justify-content-between align-items-center mt-5">
  <div class="course-navigation-previous order-2 order-md-0 mt-3 mt-md-0">
    <a class="btn btn-previous">Previous</a>
  </div>
  <div class="course-navigation-next order-1 order-md-2">
    <a class="btn btn-next">Next</a>
  </div>
</div>
