<div class="content">
  <h1>Terms of Service</h1>
  <p>
    Welcome to <a href="https://ontariosecuritylicense.ca">https://ontariosecuritylicense.ca</a> (the "Site"). These
    terms
    of service apply to your use of the Site. By accessing or using the Site, you agree to be bound by these terms of
    service. If you do not agree to these terms, please do not use the Site.
  </p>

  <h3>Use of Site Content</h3>
  You may view and print individual pages from this website for personal, noncommercial use. However, no material from
  this website may be copied, modified, reproduced, republished, uploaded, transmitted, posted or distributed in any
  form without prior written permission. Unauthorized use of website content or features could involve litigation
  related to violation of copyright, trademark, and other applicable laws.

  <h3>Accuracy of Information</h3>
  While we strive to maintain an error-free website, we do not guarantee that any content is 100% accurate or
  complete. The information and features presented and described on this website are believed to be reliable and
  useful. However, we disclaim all guarantees regarding the accuracy, completeness, or adequacy of such information.
  All content and features are provided "as is," without warranty of any kind. We will not be held liable or
  responsible for any errors or omissions on this website.

  <h3>Site Intended for Professional Adults</h3>
  This is a business site intended for use by professional adults. Children should not use the site. All users
  interact with, visit, and use this website at their own risk. We will not bear responsibility or be liable for
  damages of any kind including, without limitation, any direct, incidental, or consequential damages resulting from
  the access of or inability to access.

  <h3>Third-Party Websites and Links</h3>
  For the convenience of our website visitors, we may provide links to third-party websites. These websites are not
  operated or controlled by us, and we assume no responsibility for the content, services, policies, or actions of
  these third-party websites. We furnish these links for your convenience, and they should be used with discretion. We
  encourage you to be aware when you are leaving our website and to read the privacy policies of each website you
  visit. We do not endorse or recommend any of the material or information found on any other website.

  <h3>Policy Revisions</h3>
  We reserve the right to revise, amend or update this policy, or any policies related to private security testing, at
  our discretion. Any changes made to these policies will be posted on this page, and your continued use of the Site
  after any such changes constitutes your acceptance of the new policies.

  <p>
    Thank you for using our Site.
  </p>

</div>

