<div class="modal-header">
  <h2>Why the next module is still locked?</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>The Ministry requires that students spend a minimum amount of time studying each module. You cannot go to the
    next module until <strong>both</strong> of the following conditions are satisfied:</p>
  <ul>
    <li>the module quiz has been completed (if applicable - some modules may not have an associated quiz), and</li>
    <li>the module timer has expired</li>
  </ul>

  <p>When both requirements are satisfied, you get access to the next module.</p>
  <p>If you've worked through
    the module, completed the quiz faster and you have lots of time left over, then please take a break, get a coffee,
    go for a walk etc.,
    and then return and revise the material until the next module unlocks.</p>
  <p>Studies show the human brain learns and retains information better when taking breaks in between learning
    sessions.</p>
</div>

