@import "node_modules/bootstrap/scss/bootstrap-utilities";

.course-learning-main {
  background: #FFFFFF;

  padding: 10px 15px;

  @include media-breakpoint-up(sm) {
    padding: 72px 92px;
  }

}

/** shared */
.course-content {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: #31374D;

}

.btn-quiz {
  padding: 17px 64px;

  background: #36B251;
  border-radius: 4px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;

  &:hover {
    background: #36B251;
    color: #FFFFFF;
  }
}
