//todo: this should be extracted to navigation component

.btn-previous {
  padding: 17px 69px;

  border: 1px solid #31374D;
  border-radius: 4px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #31374D;
}

.btn-next {
  padding: 17px 87px;

  background: #31374D;
  border-radius: 4px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;

  &:hover {
    color: #FFFFFF;
  }
}

.btn-quiz {
  padding: 17px 64px;

  background: #36B251;
  border-radius: 4px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #FFFFFF;

  &:hover {
    color: #FFFFFF;
  }
}

.course-navigation-page {
  cursor: pointer;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #31374D;

  padding: 15px;

  &.active {
    font-weight: 700;
  }
}
