<div (click)="clicked()" class="course-card d-flex p-0 position-relative" [class.selected]="course.selected">
  <span class="price-badge position-absolute top-0 end-0 badge rounded-pill">
    ${{ course.price }}
  </span>
  <div class="course-image flex-shrink-1" [style.background-image]="'url(' + course.imageSmall + ')'">
  </div>
  <div class="course-description d-flex flex-column justify-content-center p-2">
    <div class="course-title">{{ course.name }}</div>
    <div class="course-content">Available in {{ formatCourseLanguages(course) }}</div>
  </div>
</div>
